## Para esse exemplo, eu limpei o arquivo original removendo todo o texto antes dos dados porem eu mantive os índices de cada entrada. 

## Aqui veremos como esses dados são carregados e como removeremos o índice, já que essa informação não deve entrar nos dados de treinamento

In [6]:
import pandas as pd
import numpy as np

In [21]:
#carregaremos esse arquivo como se fosse um CSV, aqui chamaremos ele de dataframe
dataframe = pd.read_csv('x01.txt', header=None, delimiter=r"\s+")
#imprime os 5 primeiros valores do dataframe
dataframe[:5]

   0        1      2
0  1    3.385   44.5
1  2    0.480   15.5
2  3    1.350    8.1
3  4  465.000  423.0
4  5   36.330  119.5

In [22]:
#manteremos todos os dados menos os índices
dataframe = dataframe.ix[:, 1:2]
#imprime os 5 primeiros valores
dataframe[:5]
#repare que a primeira coluna foi removida

         1      2
0    3.385   44.5
1    0.480   15.5
2    1.350    8.1
3  465.000  423.0
4   36.330  119.5

In [23]:
#por convenção, chamaremos tudo o que for de característica nos datasets de x
x = dataframe[dataframe.columns[0]]
x[:5]

0      3.385
1      0.480
2      1.350
3    465.000
4     36.330
Name: 1, dtype: float64

In [24]:
#por convenção, chamaremos tudo o que for rótulo nos datasets de y
y = dataframe[dataframe.columns[-1]]
y[:5]

0     44.5
1     15.5
2      8.1
3    423.0
4    119.5
Name: 2, dtype: float64